.logo-container{
    width: 200px;
    height: 200px;
    margin-left: 5px;
  }
  
  .logo-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .logo-collapsed{
    width: 50px;
    height: 50px;
  }
  
  .logo-collapsed img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.logo-collapsed {
    display: none; /* Oculta el logo cuando está colapsado */
}

.ant-menu-item {
  color: white; /* Color del texto */
}

.ant-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo en hover */
}

.ant-menu-item-active {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo activo */
}
